.blue_header {
  color: #019BFF
}
.orange_header {
  color: #FBBB68;
}



.sk_details__icon {
  margin: 0 auto;
}
.sk_text_centralizer {
  text_align: center;
}

.sk_block__text {
  margin_left: 0 !important;
  margin_right: 5px !important;
  /*text_align: justify;*/
}

.sk_details__icon_list_image {
  float: left;
  margin_right: 10px;
}

.sk_details__stars_outer_container {
  border: 1px solid #efefef;
  border_radius: 5px;
  padding: 5px;
  height: 60px;
  width: 410px;
}
.sk_details__stars_inner_container {
  padding: 0 10px 0 0;
}
.sk_details__star {
  float:left;
}
.sk_details__stars_euroncap {
  float:left;
  margin_left: 50px;
  height: 50px;
}

.sk_details__certified_developer {
  padding_top: 50px;
  font_size: 18px;
}
.sk_details__certified_have_a_question {
  margin_top: 50px;
}

.carousel_caption {
  bottom: _20px;
}

.carousel .item {
  width: 100%; /*slider width*/
  max_height: 250px; /*slider height*/
}

.carousel .item img {
  display: block;
  margin_left: auto;
  margin_right: auto;
  width: 40%; /*img width*/
  height: 250px;
}


.sk_car_details__popular_image_title {
  font_size: 1em;
  font_weight: bolder;
  color: whitesmoke
}
