<div ng-controller="carDetailsController">

  <div class="container">
    <div class="row">
      <img src="https://i.gyazo.com/7d20242aa948bfc4e20fbb7063907ca5.png" alt="" style="width: 100%">
    </div>

    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col col-md-7">

        <block header="'What\'s The Model About?'">
          <icon-block icon="'/images/group-114.png'" text="'75 000km'"></icon-block>
          <icon-block icon="'/images/group-115.png'" text="'Automatic'"></icon-block>
          <icon-block icon="'/images/group-116.png'" text="'3.0 (225 kW)'"></icon-block>
          <icon-block icon="'/images/group-117.png'" text="'Front Wheel Drive'"></icon-block>
          <icon-block icon="'/images/group-119.png'" text="'2 doors 5 seats'"></icon-block>
          <icon-block icon="'/images/group-120.png'" text="'Dark Blue'"></icon-block>
          <icon-block icon="'/images/group-121.png'" text="'Black'"></icon-block>
        </block>

        <block header="'What\'s this model about?'">
          {{block1.description}}
        </block>

        <block header="'We have it in excellent condition'">
          {{block2.description}}
        </block>

        <block header="'Nice features'">
          {{block3.description}}
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Steering Wheel Controls
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Paddle Shifters
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Premium Lights
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Turbocharger
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Parking Sensors
          </div>
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/diploma_1.png" width="24" class="sk-details__icon-list-image" />
            No Problems Found
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <label>VIN code: </label> WVW7454WBVNVHD
          </div>
        </block>

        <block header="'Petrol Consumption'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/gas_station@2x.png" class="sk-details__icon-list-image" />
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <div class="row">
              <label>City: </label> 7.5 l / 100 km
            </div>
            <div class="row">
              <label>Highway: </label>  6.5 l / 100 km
            </div>
            <div class="row">
              <label>Average: </label>  7.0 l / 100 km
            </div>
          </div>
        </block>

        <block header="'Performance'">

          <!-- Left side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Driver wheels: </label></div>
              <div class="col col-md-6">Rear</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Doors: </label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compression ratio</label></div>
              <div class="col col-md-6">10</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compressor type</label></div>
              <div class="col col-md-6">Turbocharger</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Configuration</label></div>
              <div class="col col-md-6">Inline</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Cylinders</label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Displacement</label></div>
              <div class="col col-md-6">1997</div>
            </div>
          </div>

          <!-- Right side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Fuel type: </label></div>
              <div class="col col-md-6">Premium unlead</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Horsepower</label></div>
              <div class="col col-md-6">240</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Size</label></div>
              <div class="col col-md-6">2</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Torque</label></div>
              <div class="col col-md-6">255</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Total values</label></div>
              <div class="col col-md-6">16</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Powr train</label></div>
              <div class="col col-md-6">Gas</div>
            </div>
          </div>
        </block>

        <block header="'Safety'">
          <!-- TODO: Safety -->
        </block>

        <block header="'Our Certified Inspector\'s Report'">
          <!-- TODO: our certified Inspectors report -->
        </block>

        <block header="'Skynda Care'">
          <!-- TODO: skynda care -->
        </block>

        <block header="'Reviews'">
          <!-- TODO: Reviews -->
        </block>

        <block header="'Other cars that you might like'">
          <!-- TODO: Other cars that you might like -->
        </block>

      </div>

      <!-- RIGHT COLUMN -->
      <div class="col col-md-5">

        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#htab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-home pr-5"></i>Very Flexible</a></li>
          <li class=""><a href="#htab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-user pr-5"></i>Top Notch 24/7 Support</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade active in" id="htab1">
            <h1 class="text-center">Very Flexible</h1>
            <div class="space-bottom"></div>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-icons">
                  <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                  <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                  <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                  <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                  <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                </ul>
              </div>
              <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
              </div>
            </div>
            <a href="page-services.html" class="btn btn-default">Read more</a>
          </div>
          <div class="tab-pane fade" id="htab2">
            <h1 class="text-center">Top Notch 24/7 Support</h1>
            <div class="space-bottom"></div>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-icons">
                  <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                  <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                  <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                  <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                  <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                </ul>
              </div>
              <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
              </div>
            </div>
            <a href="page-services.html" class="btn btn-default">Read more</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
