<div ng-controller="carDetailsController">

  <div class="container">
    <div class="row">
      <img src="https://i.gyazo.com/7d20242aa948bfc4e20fbb7063907ca5.png" alt="" style="width: 100%">
    </div>

    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col col-md-7">

        <block header="'What\'s The Model About?'">
          <icon-block icon="'/images/group-114.png'" text="'75 000km'"></icon-block>
          <icon-block icon="'/images/group-115.png'" text="'Automatic'"></icon-block>
          <icon-block icon="'/images/group-116.png'" text="'3.0 (225 kW)'"></icon-block>
          <icon-block icon="'/images/group-117.png'" text="'Front Wheel Drive'"></icon-block>
          <icon-block icon="'/images/group-119.png'" text="'2 doors 5 seats'"></icon-block>
          <icon-block icon="'/images/group-120.png'" text="'Dark Blue'"></icon-block>
          <icon-block icon="'/images/group-121.png'" text="'Black'"></icon-block>
        </block>

        <block header="'What\'s this model about?'">
          {{block1.description}}
        </block>

        <block header="'We have it in excellent condition'">
          {{block2.description}}
        </block>

        <block header="'Nice features'">
          {{block3.description}}
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Steering Wheel Controls
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Paddle Shifters
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Premium Lights
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Turbocharger
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Parking Sensors
          </div>
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/diploma_1.png" width="24" class="sk-details__icon-list-image" />
            No Problems Found
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <label>VIN code: </label> WVW7454WBVNVHD
          </div>
        </block>

        <block header="'Petrol Consumption'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/gas_station@2x.png" class="sk-details__icon-list-image" />
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <div class="row">
              <label>City: </label> 7.5 l / 100 km
            </div>
            <div class="row">
              <label>Highway: </label>  6.5 l / 100 km
            </div>
            <div class="row">
              <label>Average: </label>  7.0 l / 100 km
            </div>
          </div>
        </block>

        <block header="'Performance'">

          <!-- Left side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Driver wheels: </label></div>
              <div class="col col-md-6">Rear</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Doors: </label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compression ratio</label></div>
              <div class="col col-md-6">10</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compressor type</label></div>
              <div class="col col-md-6">Turbocharger</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Configuration</label></div>
              <div class="col col-md-6">Inline</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Cylinders</label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Displacement</label></div>
              <div class="col col-md-6">1997</div>
            </div>
          </div>

          <!-- Right side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Fuel type: </label></div>
              <div class="col col-md-6">Premium unlead</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Horsepower</label></div>
              <div class="col col-md-6">240</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Size</label></div>
              <div class="col col-md-6">2</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Torque</label></div>
              <div class="col col-md-6">255</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Total values</label></div>
              <div class="col col-md-6">16</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Powr train</label></div>
              <div class="col col-md-6">Gas</div>
            </div>
          </div>
        </block>

        <block header="'Safety'">
          <!-- TODO: Safety -->
        </block>

        <block header="'Our Certified Inspector\'s Report'">
          <!-- TODO: our certified Inspectors report -->
        </block>

        <block header="'Skynda Care'">
          <!-- TODO: skynda care -->
        </block>

        <block header="'Reviews'">
          <!-- TODO: Reviews -->
        </block>


        <block header="'Other cars that you might like'">
          <!-- TODO: Other cars that you might like -->
        </block>

          <block header="block10.header">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

              Why do we use it?
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


              Where does it come from?
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </block>

      </div>

      <!-- RIGHT COLUMN -->
      <div class="col col-md-5">

        <checkout></checkout>

       </div>
    </div>
    </div>
</div>
