<div ng-controller="homepageController">

  <nav class="sk-navbar navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="sk-logo navbar-brand" href="#">
          <img class="pull-left" src="images/skynda logo 4-mask-4@2x.png">
          <img class="" src="images/SKYNDA@2x.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="sk-menu--sell"><a href="#" class="orange-header">Sell Your Car</a></li>
          <li class="sk-menu--buy"><a href="#" class="blue-header">Buy Your Car</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron sk-hero">
    <img class="sk-hero__image" src="images/hero-01-2.jpg" alt="image">
    <div class="sk-hero__text clerfix">
      <div class="container">
        <div class="grid">
          <div class="col-md-9">
            <h2>Buying a pre-used car has never been so fun, easy and secure</h2>
          </div>
          <div class="col-md-3">
            <a class="btn btn-primary btn-lg" href="#" role="button"> Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <keypoint
          title="Certified Inspections"
          content="All our cars have been certified by our inspectors. Every car comes with a detailed report."
          img="ok@2x.png">
        </keypoint>
      </div>
      <div class="col-md-4">
        <keypoint
          title="Fast Delivery"
          content="We deliver your car in 3 days to which every location you choose."
          img="clock@2x.png">
        </keypoint>
      </div>
      <div class="col-md-4">
        <keypoint
          title="7 Day Returns"
          content="If you do not find the car suitable you can return in 7 days, no questions asked."
          img="happy@2x.png">
        </keypoint>
      </div>
    </div>

    <div class="row">
      <div class="col-sx-12">
        <h2 class="blue-header text-center">Search</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group sk-search">
            <input type="text" class="form-control" placeholder="Enter a Car Name"/>
            <span class="input-group-btn">
             <button class="btn input-group-btn  btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>

    <div class="row">
      <div class="col-sx-12">
        <h2 class="blue-header text-center">Popularr</h2>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>

      <div class="row">
        <div class="col-sx-12">
          <h2 class="blue-header text-center">Recently Added</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
              <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image">
              </div>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>


      <hr>

      <footer>
        <p class="text-center">Skynda AS Valge 16, Tallinn 19095 Estonia <a href="mailto:hello@skynda.me">mailto:hello@skynda.me</a></p>
      </footer>
    </div> <!-- /container -->

  </div>
</div>
