<div ng-controller="authController" layout="row" layout-align-gt-sm="center center" layout-align-sm="center start" flex>

  <md-whiteframe class="md-whiteframe-z5 indexBox" layout="column" layout-padding layout-align="center center"
                 layout-margin>
    <md-content layout-align="center center" layout-fill>
      <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom layout-fill>
        <md-tab label="{{ 'LogIn'| translate }}">
          <md-content class="md-padding">
            <form action="/auth/local" method="POST" layout="column" layout-align="center center" layout-padding
                  layout-margin
                  layout-fill>
              <h2> {{'Please'| translate }} {{'SignIn'| translate }} </h2>
              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'UsernameOrEmail'| translate }} </label>
                <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
                <input type="text" name="identifier">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <label> {{'Your'| translate }} {{'Password'| translate }} </label>
                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="password">
              </md-input-container>

              <md-button class="md-primary" type="submit" layout-fill>
                {{'SignIn'| translate }}
              </md-button>
            </form>
          </md-content>
        </md-tab>
        <md-tab label=" {{'SignUp'| translate }} ">
          <md-content class="md-padding">
            <form action="/auth/local/register" method="POST" layout="column" layout-align="center center"
                  layout-padding layout-margin layout-fill>
              <h2> {{'Please'| translate }} {{'SignUp'| translate }} </h2>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
                <input type="text" name="username" placeholder=" {{'Your'| translate }} {{'Username'| translate }} ">
              </md-input-container>
              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-child fa-lg"></i></md-icon>
                <input type="text" class="upperCaseFormText" name="name"
                       placeholder=" {{'Your'| translate }} {{'Name'| translate }} ">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-male fa-lg"></i></md-icon>
                <input type="text" class="upperCaseFormText" name="lastName"
                       placeholder=" {{'Your'| translate }} {{'LastName'| translate }} ">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-envelope fa-lg"></i></md-icon>
                <input type="text" name="email" placeholder=" {{'Your'| translate }} {{'Email'| translate }} ">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-info fa-lg"></i></md-icon>
                <input type="text" class="form-control input-sm" name="identification"
                       placeholder=" {{'Your'| translate }} {{'Identification'| translate }} ">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="password"
                       placeholder=" {{'Your'| translate }} {{'Password'| translate }} ">
              </md-input-container>

              <md-input-container class="md-icon-float" layout-fill>
                <md-icon><i class="fa fa-key fa-lg"></i></md-icon>
                <input type="password" name="confirmation"
                       placeholder=" {{'Confirm'| translate }} {{'Password'| translate }} ">
              </md-input-container>

              <md-button class="md-primary" type="submit" layout-fill>
                {{'SignUp'| translate }}
              </md-button>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>

      <div layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
        <a href="/auth/google" target="_self" title="Google">
          <i class="fa fa-google-plus-square fa-lg"></i> Google
        </a>
        <a href="/auth/facebook" target="_self" title="Facebook">
          <i class="fa fa-facebook-square fa-lg"></i> Facebook
        </a>
      </div>

    </md-content>

  </md-whiteframe>
</div>





